[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/create3-factory"]
	path = lib/create3-factory
	url = https://github.com/zeframlou/create3-factory
[submodule "lib/options-token"]
	path = lib/options-token
	url = https://github.com/byte-masons/options-token
[submodule "lib/vault-v2"]
	path = lib/vault-v2
	url = https://github.com/Byte-Masons/vault-v2
	branch = arb-mnt-bsc
